@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap');

.caseview {
  position: fixed; 
  bottom: 50px; 
  left: 20px;
}

.caseview_lst {
  position: absolute;
  bottom: 62px;
  left: 0;
  overflow: hidden;
  padding: 0 5px;
  max-height: 0;
  transition: all 0.6s;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
}

.caseview_lst::-webkit-scrollbar {
  display: none;
}

.open .caseview_lst {
  padding: 5px;
}
.caseview_lst li {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  /*transition: all 1s;*/
}
.open .caseview_lst li {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.caseview_lst li button {
  display: block; 
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 7px 5px 5px;
  width: 150px; 
  font-family: 'Black Han Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.caseview_lst li button.on {
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
  box-shadow: 0 0 8px rgba(255,255,255,1);
}

.caseview_lst li + li {
  margin-top: 10px;
}
.caseview_toggle {
  display: block; 
  position: relative;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 50px; 
  height: 50px; 
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  transition: transform 1s;
}
.open .caseview_toggle {
  transform: rotate(765deg);
}
.caseview_toggle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
  width: 30px;
  height: 3px;
  background-color: #666;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  content: '';
}
.caseview_toggle:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1px;
  width: 3px;
  height: 30px;
  background-color: #666;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  content: '';
}